[greeter]
background = /usr/share/backgrounds/deepcyber/Deep Cyner AI Red Teaming 1.jpg
theme-name = Kali-Dark
icon-theme-name = Flat-Remix-Blue-Dark
font-name = Noto Sans 11
default-user-image = /usr/share/pixmaps/deepcyber-logo.png
indicators = ~host;~spacer;~clock;~spacer;~session;~power
position = 50%,center 50%,center
