
    ____                  ______      __
   / __ \___  ___  ____  / ____/_  __/ /_  ___  _____
  / / / / _ \/ _ \/ __ \/ /   / / / / __ \/ _ \/ ___/
 / /_/ /  __/  __/ /_/ / /___/ /_/ / /_/ /  __/ /
/_____/\___/\___/ .___/\____/\__, /_.___/\___/_/
               /_/          /____/
                          AI Red Team Toolkit
{% if desktop_environment == 'mate' %}
                        ~ Founder's Edition ~
{% endif %}

DeepCyber VM v2.0 ({{ desktop_environment | upper }})  |  (c) 2026 Deep Cyber Ltd.

Quick start:
  cd ~/projects && cp -r template my-project && cd my-project
  dcr auth && dcr humanbound full

Docs: http://localhost/docs  |  CLI help: dcr --help  |  AI: dcr ai
