[Desktop Entry]
Name=DeepCyber CLI
Comment=DeepCyber Red Team CLI (dcr)
Exec=xfce4-terminal -e "bash -c 'dcr --help; exec bash'"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=DeepCyber;
