[Desktop Entry]
Name=Garak
Comment=NVIDIA LLM vulnerability scanner
Exec=xfce4-terminal -e "bash -c 'echo \"Usage: dcr garak [-p probe]\"; exec bash'"
Icon=security-medium
Terminal=false
Type=Application
Categories=DeepCyber;AIRedTeam;
