[Plymouth Theme]
Name=DeepCyber
Description=DeepCyber AI Red Team Toolkit boot splash
ModuleName=script

[script]
ImageDir=/usr/share/plymouth/themes/deepcyber
ScriptFile=/usr/share/plymouth/themes/deepcyber/deepcyber.script
